<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appearanceSize</key>
	<string>1</string>
	<key>cursorFollowFocus</key>
	<string>0</string>
	<key>fadeOutAnimation</key>
	<string>false</string>
	<key>menubarIcon</key>
	<string>0</string>
	<key>menubarIconShown</key>
	<string>false</string>
	<key>mouseHoverEnabled</key>
	<string>true</string>
	<key>nextWindowGesture</key>
	<string>1</string>
	<key>previewFadeInAnimation</key>
	<string>false</string>
	<key>previewFocusedWindow</key>
	<string>true</string>
	<key>settingsWindowShownOnFirstLaunch</key>
	<string>true</string>
	<key>shortcutCount</key>
	<string>2</string>
	<key>showOnScreen</key>
	<string>1</string>
	<key>trackpadHapticFeedbackEnabled</key>
	<string>false</string>
	<key>updatePolicy</key>
	<string>2</string>
</dict>
</plist>
