[Unit]
Description=Kanata key remapping daemon
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
ExecStart=/home/prajwal/usr/bin/kanata --cfg /home/prajwal/.config/kanata/config.kbd --port 5829

[Install]
WantedBy=sysinit.target
